.Modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-contenedor {
    padding-top: 1.5rem;
}

.Modal__container {
    position: relative;
    top: 10rem;
    background-color: #ffffff;
    padding: 1rem;
    max-width: 375px;
}

.Modal__header {
    /* position: relative; */
    display: flex;
    align-items: center;
}

.Modal__close-button {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background-color: slategray;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
}

.portal-btn {
    background-color: whitesmoke;
}

.container-itens {
    display: flex;
}

.btn-iten {
    background-color: whitesmoke;
}

#title {
    color: #F06000;
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: larger;
    font-weight: bold;
}

.descripcion_cont {
    color: black;
    padding: .5rem;
    border-top: 2px solid #F06000;
}

.img-modal {
    max-width: 80%;
    height: auto;
    display: block;
    margin: auto;
    padding: 1.5rem;
    background-color: aliceblue;
}

.video-contenedor {
    padding-top: 1.5rem;
    height: 300px;
}

.img__event img {
    object-fit: cover;
}

iframe {
    /* position: absolute; */
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

.img__video {
    margin: 1.5rem;
}